html, body {
    min-width: 20rem;
    background-color: #eee;
    height: 100vh;
  }

/*------------ Introduction ------------*/
.introduction {
  height: 100%;
  color: white;
  text-align: center;
  background-image: url('../gif/bg-5.gif');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 50px;
}

.introduction img {
  width: 13vw;
  border-radius: 1000px;
  border: solid 7px #147350;
  justify-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  gap: 10px;
}

.content .intro-heading {
  font-size: 48px;
  font-weight: bold;
}

.content .intro-subheading {
  font-size: 24px;
  font-family: 'Roboto';
  margin-bottom: 40px;
}

.content .intro-description {
  width: 50%;
  text-align: justify;
}

/* ------------ Projects ------------ */
.proyects {
  /* height: 120%; */
  padding: 80px 0px;
  background-color: #050A07;
}

.proyect-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.proyect-item {
  margin: 16px 8px;
  border: solid 1px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyect-link {
  position: relative;
}

.proyect-caption {
  width: 100%;
  line-height: 80px;
  background-color: #fff;
  border-top: solid 1px rgba(0,0,0,0.4);;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.proyect-caption.ludoteca {
  color: rgb(195, 18, 53);
}

.proyect-caption.iguana {
  color: rgb(30, 26, 19)
}

.proyect-caption.cuppon {
  color: rgb(40, 167, 69)
}

.proyect-caption.personal {
  color: rgb(115, 77, 112)
}

.ludoteca .proyect-click,
.iguana .proyect-click,
.cuppon .proyect-click,
.personal .proyect-click {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(195, 18, 53,0.9);
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ludoteca:hover .proyect-click,
.iguana:hover .proyect-click,
.cuppon:hover .proyect-click,
.personal:hover .proyect-click {
  opacity: 1;
}

.ludoteca .proyect-click {
  background: rgba(195, 18, 53,0.9);
}

.iguana .proyect-click {
  background: rgba(30, 26, 19, 0.9);
}

.cuppon .proyect-click {
  background: rgba(40, 167, 69, 0.9);
}

.personal .proyect-click {
  background: rgba(115, 77, 112, 0.9);
}

/* ------------ Curriculum ------------ */

.curriculum {
  height: 100%;
  width: 100%;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 5fr;
  grid-template-areas:  "title      title"
                        "experience skills";
}

.curriculum .main-text {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curriculum ul {
  list-style-type: none;
}

.curriculum .main-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.curriculum .main-text p {
  text-align: center;
  font-size: 16px;
}

.curriculum .timeline {
  grid-area: experience;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.curriculum .experience {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.curriculum .timeline .experience img {
  width: 13vw;
  border-radius: 50px;
  border: solid 2px #4d2717;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.3s 0.3s;
}

.curriculum .timeline .experience img:hover {
  transform: scale(1.25, 1.25);
}

.curriculum .timeline .experience .exp-text h4{
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #8e472b;
}

.skills-container h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 60px;
  text-align: center;
}

.curriculum .skills-container {
  grid-area: skills;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.curriculum .skills-container img {
  width: 2vw;
}

.curriculum .skills-container .skills {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.curriculum .skills-container .skills .skill .progress {
  width: 85%;
  border: solid 1px rgba(0, 0, 0, 0.4);
}

.curriculum .skills-container .skills .skill {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ------------ Contact ------------ */

.contact-me {
  height: 90%;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('../img/contact2-bg.jpg');
  background-position: center center;
  background-size: cover;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-me h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}

.contact-me .tipo {
  color: #707070;
  width: 95%;
  border: solid 2px #eee ;
  border-radius: 4px;
}

.contact-me .form-group{
  width: 95%;
  text-align: center;
  margin: 8px;
}

.contact-me .boton {
  width: 15%;
  padding: 4px 0;
  background-color: #caa009;
  border: solid 1px #caa009;
  border-radius: 4px;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

/* ------------ Footer ------------ */

footer {
  background-color: #2E3445;
  width: 100%;
  padding: 0px 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  line-height: 80px;
}

footer .socials {
  display: flex;
  gap: 15px;
}

footer img {
  width: 35px;
}

/* ------------ Responsive design ------------ */
@media only screen and (max-width: 1175px) {
  .introduction img {
    margin-top: 100px;
    width: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .proyects {
    height: auto;
  }
}

@media only screen and (max-width: 570px) {
  .introduction {
    height: auto;
  }

  .introduction img {
    margin-top: 200px;
    width: 40vw;
  }

  .content .intro-heading {
    font-size: 36px;
    font-weight: bold;
  }
  
  .content .intro-subheading {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 40px;
  }

  .proyects {
    padding-top: 70px;
    height: auto;
  }

  .curriculum {
    height: auto;
    grid-template-areas:  "title        title"
                          "experience   experience"
                          "skills       skills";
  }

  .curriculum .experience {
    flex-direction: column;
  }    

  .curriculum .skills-container img {
    width: 5vw;
  }

  .curriculum .timeline .experience img {
    width: 40vw;
  }

  .contact-me .boton {
    width: 30%;
    font-size: 25px;
  }
}